[Unit]
Description=Air monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/james-monitor/demo.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
